alembic>=0.9.9
asn1crypto>=0.24.0
bcrypt>=3.1.4
boto3>=1.7.9
botocore>=1.10.9
cffi>=1.11.5
click>=6.7
coverage>=4.5.1
cryptography>=2.2.2
docutils>=0.14
Flask>=1.0
Flask-Cors>=3.0.4
Flask-Migrate>=2.1.1
Flask-Script>=2.0.6
Flask-SQLAlchemy>=2.3.2
Flask-Testing>=0.7.1
-e git+https://github.com/c-e-p/Flask-Tus.git#egg=flask-tus-fork
idna>=2.6
itsdangerous>=0.24
Jinja2>=2.10
jmespath>=0.9.3
Mako>=1.0.7
MarkupSafe>=1.0
psycopg2>=2.7.4
pycparser>=2.18
PyJWT>=1.6.1
python-dateutil>=2.7.2
python-editor>=1.0.3
redis>=2.10.6
s3transfer>=0.1.13
six>=1.11.0
SQLAlchemy>=1.2.7
Werkzeug>=0.14.1
elasticsearch-dsl>=6.0.0,<7.0.0
python-magic>=0.4.15
ebooklib>=0.17
pyyaml
requests
Pillow>=5.3.0
mutagen
pydub
