alembic==0.8.9
asn1crypto==0.24.0
bcrypt==3.1.2
boto3==1.7.2
botocore==1.10.2
cffi==1.9.1
click==6.6
coverage==4.2
cryptography==2.2.1
docutils==0.14
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Testing==0.6.1
-e git+https://github.com/c-e-p/Flask-Tus.git#egg=Flask-Tus
idna==2.6
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.3
Mako==1.0.6
MarkupSafe==0.23
pkg-resources==0.0.0
psycopg2==2.7.4
pycparser==2.17
PyJWT==1.4.2
python-dateutil==2.6.1
python-editor==1.0.3
redis==2.10.6
s3transfer==0.1.13
six==1.10.0
SQLAlchemy==1.2.0
Werkzeug==0.11.13
