<head>
	<title>ourchive: dev</title>
</head>

<body>
  <div class="container">
    <div id="reactEntry"></div>
  </div>

  <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='tus.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='purify.min.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>

</body>
<footer>
  <div class="container">
    <p>ourchive is created and maintained by <a href="https://github.com/klreeher">@klreeher</a> and <a href="https://github.com/c-e-p">@c-e-p</a>.</p>
  </div>
</footer>
