<head>
</head>

<body>
  <div id="reactEntry"></div>

  <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='tus.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>
</body>
